### WebCrawling
- 웹페이지의 종류
    - 정적페이지 : 페이지의 데이터가 변경될때 URL이 변경 O : HTML
    - 동적페이지 : 페이지의 데이터가 변경될때 URL이 변경 X : JSON
- requests package
    - 브라우져의 URL을 입력하면 서버에서 데이터를 다운받아 화면에 출력 : URL > DATA
    - requests 패키지 : URL > DATA

### Naver Stock Data
- Kospi 지수
- Kosdaq 지수
- USD : 원달러 환율

In [192]:
import requests
import pandas as pd

In [ ]:
# 1. 웹서비스를 분석 : 크롬 개발자 도구 : URL
# https://m.stock.naver.com/

In [193]:
url = "https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4"

In [3]:
# 2. reques(url) > response(json) : JSON(str)

In [194]:
response = requests.get(url)
response

In [195]:
response.text

'[{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice":"2,417.11","highPrice":"2,418.05","lowPrice":"2,342.81"},{"localTradedAt":"2022-06-21","closePrice":"2,408.93","compareToPreviousClosePrice":"17.90","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.75","openPrice":"2,402.99","highPrice":"2,423.48","lowPrice":"2,385.60"},{"localTradedAt":"2022-06-20","closePrice":"2,391.03","compareToPreviousClosePrice":"-49.90","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.04","openPrice":"2,449.89","highPrice":"2,449.89","lowPrice":"2,372.35"},{"localTradedAt":"2022-06-17","closePrice":"2,440.93","compareToPreviousClosePrice":"-10.48","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.43","openPrice":"2,409.72","highPrice":"2,441.34","lowPrice":"2,396.47"},{"localTradedAt":"2022-06-16","closePrice":"2,451.41","compareToPreviousClosePrice":"4.03","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.16","openPrice":"2,481.66","highPrice":"2,500.36","lowPrice":"2,447.33"},{"localTradedAt":"2022-06-15","closePrice":"2,447.38","compareToPreviousClosePrice":"-45.59","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.83","openPrice":"2,490.01","highPrice":"2,495.54","lowPrice":"2,436.04"},{"localTradedAt":"2022-06-14","closePrice":"2,492.97","compareToPreviousClosePrice":"-11.54","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.46","openPrice":"2,472.96","highPrice":"2,503.17","lowPrice":"2,457.39"},{"localTradedAt":"2022-06-13","closePrice":"2,504.51","compareToPreviousClosePrice":"-91.36","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-3.52","openPrice":"2,550.21","highPrice":"2,550.32","lowPrice":"2,504.51"},{"localTradedAt":"2022-06-10","closePrice":"2,595.87","compareToPreviousClosePrice":"-29.57","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.13","openPrice":"2,596.37","highPrice":"2,602.80","lowPrice":"2,583.74"},{"localTradedAt":"2022-06-09","closePrice":"2,625.44","compareToPreviousClosePrice":"-0.71","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.03","openPrice":"2,618.92","highPrice":"2,627.88","lowPrice":"2,606.61"}]'

In [4]:
# 3. JSON(str) > lsit, dict > DataFrame

In [207]:
data = response.json()
type(data),data[:2]
data

[{'localTradedAt': '2022-06-22',
  'closePrice': '2,342.81',
  'compareToPreviousClosePrice': '-66.12',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-2.74',
  'openPrice': '2,417.11',
  'highPrice': '2,418.05',
  'lowPrice': '2,342.81'},
 {'localTradedAt': '2022-06-21',
  'closePrice': '2,408.93',
  'compareToPreviousClosePrice': '17.90',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.75',
  'openPrice': '2,402.99',
  'highPrice': '2,423.48',
  'lowPrice': '2,385.60'},
 {'localTradedAt': '2022-06-20',
  'closePrice': '2,391.03',
  'compareToPreviousClosePrice': '-49.90',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-2.04',
  'openPrice': '2,449.89',
  'highPrice': '2,449.89',
  'lowPrice': '2,372.35'},
 {'localTradedAt': '2022-06-17',
  'closePrice': '2,440.93',
  'compareToPreviousClosePrice': '-10.48',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.43',
  'openPrice': '2,409.72',
  'highPrice': '2,441.34',
  'lowPrice': '2,396.47'},
 {'localTradedAt': '2022-06-16',
  'closePrice': '2,451.41',
  'compareToPreviousClosePrice': '4.03',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.16',
  'openPrice': '2,481.66',
  'highPrice': '2,500.36',
  'lowPrice': '2,447.33'},
 {'localTradedAt': '2022-06-15',
  'closePrice': '2,447.38',
  'compareToPreviousClosePrice': '-45.59',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.83',
  'openPrice': '2,490.01',
  'highPrice': '2,495.54',
  'lowPrice': '2,436.04'},
 {'localTradedAt': '2022-06-14',
  'closePrice': '2,492.97',
  'compareToPreviousClosePrice': '-11.54',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.46',
  'openPrice': '2,472.96',
  'highPrice': '2,503.17',
  'lowPrice': '2,457.39'},
 {'localTradedAt': '2022-06-13',
  'closePrice': '2,504.51',
  'compareToPreviousClosePrice': '-91.36',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-3.52',
  'openPrice': '2,550.21',
  'highPrice': '2,550.32',
  'lowPrice': '2,504.51'},
 {'localTradedAt': '2022-06-10',
  'closePrice': '2,595.87',
  'compareToPreviousClosePrice': '-29.57',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-1.13',
  'openPrice': '2,596.37',
  'highPrice': '2,602.80',
  'lowPrice': '2,583.74'},
 {'localTradedAt': '2022-06-09',
  'closePrice': '2,625.44',
  'compareToPreviousClosePrice': '-0.71',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.03',
  'openPrice': '2,618.92',
  'highPrice': '2,627.88',
  'lowPrice': '2,606.61'}]

In [30]:
df = pd.DataFrame(data)[["localTradedAt","closePrice"]]
df.tail(2)

  localTradedAt closePrice
8    2022-07-08     766.48
9    2022-07-07     757.97

In [ ]:
# 4. 함수 만들기 : 
# params: pagesize, page

In [36]:
def stock_price(pagesize, page):
    url = f"https://m.stock.naver.com/api/index/KOSPI/price?pageSize={pagesize}&page={page}"
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[["localTradedAt","closePrice"]]

In [37]:
stock_price(30,2)

   localTradedAt closePrice
0     2022-06-22   2,342.81
1     2022-06-21   2,408.93
2     2022-06-20   2,391.03
3     2022-06-17   2,440.93
4     2022-06-16   2,451.41
5     2022-06-15   2,447.38
6     2022-06-14   2,492.97
7     2022-06-13   2,504.51
8     2022-06-10   2,595.87
9     2022-06-09   2,625.44
10    2022-06-08   2,626.15
11    2022-06-07   2,626.34
12    2022-06-03   2,670.65
13    2022-06-02   2,658.99
14    2022-05-31   2,685.90
15    2022-05-30   2,669.66
16    2022-05-27   2,638.05
17    2022-05-26   2,612.45
18    2022-05-25   2,617.22
19    2022-05-24   2,605.87
20    2022-05-23   2,647.38
21    2022-05-20   2,639.29
22    2022-05-19   2,592.34
23    2022-05-18   2,625.98
24    2022-05-17   2,620.44
25    2022-05-16   2,596.58
26    2022-05-13   2,604.24
27    2022-05-12   2,550.08
28    2022-05-11   2,592.27
29    2022-05-10   2,596.56

In [ ]:
# KOSDQ 데이터 수집 코드 작성

In [ ]:
# 1. 웹서비스 분석 : URL

In [ ]:
# 2. request(url) > response(json) : JSON(str)

In [ ]:
# 3. JSON(str) > list, dict>DataFrame

In [27]:
url = "https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize=10&page=2"

In [28]:
response = requests.get(url)

In [29]:
data = response.json()

In [33]:
df = pd.DataFrame(data)[["localTradedAt","closePrice"]]
df.tail()

  localTradedAt closePrice
5    2022-07-13     763.18
6    2022-07-12     750.78
7    2022-07-11     767.04
8    2022-07-08     766.48
9    2022-07-07     757.97

In [34]:
def stock_price(pagesize, page):
    url = f"https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize={pagesize}&page={page}"
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[["localTradedAt","closePrice"]]

In [35]:
stock_price(10,2)

  localTradedAt closePrice
0    2022-07-20     790.72
1    2022-07-19     782.33
2    2022-07-18     776.72
3    2022-07-15     762.39
4    2022-07-14     766.08
5    2022-07-13     763.18
6    2022-07-12     750.78
7    2022-07-11     767.04
8    2022-07-08     766.48
9    2022-07-07     757.97

In [44]:
response.text[:200]

'[{"localTradedAt":"2022-07-20","closePrice":"790.72","compareToPreviousClosePrice":"8.39","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.07","openPrice":"792.'

In [48]:
def stock_price(pagesize, page, code="KOSPI"):
    """This function is crawling stock price form naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ
    
    Return
    ------
    type : DataFrame : display date, price columns
    """
    url = f"https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}"
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[["localTradedAt","closePrice"]]

In [ ]:
# stock_price(10,1,"KOSDAQ")

In [78]:
kospi = stock_price(60,1,"KOSPI")
kosdaq = stock_price(60,1,"KOSDAQ")

In [50]:
# docstring[""""""] : 함수를 사용하는 방법을 문자열로 작성 
#help()이용, Shift + tab
help(stock_price)

Help on function stock_price in module __main__:

stock_price(pagesize, page, code='KOSPI')
    This function is crawling stock price form naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ

    Return
    ------
    type : DataFrame : display date, price columns

### 원달러 환율 데이터 수집
- https://m.stock.naver.com/ > 시장지표 > 미국 USD > 일별시세(더보기)

In [ ]:
# 최근 60일치 원달러 환율 데이터 수집

In [ ]:
# 1. 웹서비스 분석 : URL

In [ ]:
# 2. request(url) > response(json) : JSON(str)

In [ ]:
# 3. JSON(str) > list,dict > DataFrame

In [177]:
page, pagesize= 1,60
url = f'https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pagesize}'

In [188]:
response = requests.get(url)

In [179]:
data = response.json()
usd = pd.DataFrame(data)[['localTradedAt','closePrice']]
usd.tail(2)

   localTradedAt closePrice
58    2022-05-11   1,274.50
59    2022-05-10   1,276.00

In [ ]:
## 오답
page, pagesize= 1, 60  ## <- 이부분!!!!!!! 바보!!!!!
url = f'ttps://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pagesize}'

In [ ]:
# 데이터분석 : 상관관계분석
# 산관관계분석 : 두 데이터 집합 사이에 어떤 관계가 있는지 확인 분석
# 원달러 환율이 높으면 코스피, 코스닥 주가지수가 낮다. > 음의 상관관계를 갖는다.

In [72]:
# 피어슨 상관계수 : df.corr()
# 1과 가까울수록 강한 양의 상관관계를 갖는다.
# -1과 가까울수록 강한 음의 상관관계를 갖는다.
# 0과 가까울수록 관계가 없다.

In [135]:
# 데이터 전처리
df = kospi.copy()
df["kosdaq"]=kosdaq["closePrice"]
df["usd"] = usd['closePrice']
df = df.rename(columns={"closePrice":"kospi"})
df

   localTradedAt     kospi  kosdaq       usd
0     2022-08-03  2,453.88  813.04  1,309.30
1     2022-08-02  2,439.62  804.34  1,312.00
2     2022-08-01  2,452.25  807.61  1,305.00
3     2022-07-29  2,451.50  803.62  1,304.50
4     2022-07-28  2,435.27  798.32  1,302.00
5     2022-07-27  2,415.53  795.70  1,314.00
6     2022-07-26  2,412.96  789.93  1,311.00
7     2022-07-25  2,403.69  789.69  1,312.00
8     2022-07-22  2,393.14  789.75  1,310.00
9     2022-07-21  2,409.16  795.15  1,315.00
10    2022-07-20  2,386.85  790.72  1,312.00
11    2022-07-19  2,370.97  782.33  1,309.00
12    2022-07-18  2,375.25  776.72  1,315.50
13    2022-07-15  2,330.98  762.39  1,325.00
14    2022-07-14  2,322.32  766.08  1,324.00
15    2022-07-13  2,328.61  763.18  1,305.00
16    2022-07-12  2,317.76  750.78  1,309.00
17    2022-07-11  2,340.27  767.04  1,314.00
18    2022-07-08  2,350.61  766.48  1,300.00
19    2022-07-07  2,334.27  757.97  1,300.50
20    2022-07-06  2,292.01  744.63  1,306.00
21    2022-07-05  2,341.78  750.95  1,311.50
22    2022-07-04  2,300.34  722.73  1,295.50
23    2022-07-01  2,305.42  729.48  1,298.00
24    2022-06-30  2,332.64  745.44  1,301.50
25    2022-06-29  2,377.99  762.35  1,297.50
26    2022-06-28  2,422.09  769.51  1,291.00
27    2022-06-27  2,401.92  770.60  1,285.00
28    2022-06-24  2,366.60  750.30  1,296.00
29    2022-06-23  2,314.32  714.38  1,303.50
30    2022-06-22  2,342.81  746.96  1,302.50
31    2022-06-21  2,408.93  778.30  1,293.50
32    2022-06-20  2,391.03  769.92  1,293.00
33    2022-06-17  2,440.93  798.69  1,295.00
34    2022-06-16  2,451.41  802.15  1,293.50
35    2022-06-15  2,447.38  799.41  1,291.50
36    2022-06-14  2,492.97  823.58  1,289.50
37    2022-06-13  2,504.51  828.77  1,288.00
38    2022-06-10  2,595.87  869.86  1,280.00
39    2022-06-09  2,625.44  877.18  1,256.00
40    2022-06-08  2,626.15  874.95  1,257.50
41    2022-06-07  2,626.34  873.78  1,257.50
42    2022-06-03  2,670.65  891.51  1,252.00
43    2022-06-02  2,658.99  891.14  1,250.50
44    2022-05-31  2,685.90  893.36  1,248.00
45    2022-05-30  2,669.66  886.44  1,238.50
46    2022-05-27  2,638.05  873.97  1,256.00
47    2022-05-26  2,612.45  871.43  1,265.50
48    2022-05-25  2,617.22  872.69  1,271.00
49    2022-05-24  2,605.87  865.07  1,265.00
50    2022-05-23  2,647.38  883.59  1,264.50
51    2022-05-20  2,639.29  879.88  1,273.00
52    2022-05-19  2,592.34  863.80  1,278.00
53    2022-05-18  2,625.98  871.57  1,267.50
54    2022-05-17  2,620.44  865.98  1,270.50
55    2022-05-16  2,596.58  856.25  1,285.00
56    2022-05-13  2,604.24  853.08  1,284.00
57    2022-05-12  2,550.08  833.66  1,290.50
58    2022-05-11  2,592.27  866.34  1,274.50
59    2022-05-10  2,596.56  856.14  1,276.00

In [137]:
kospi.tail(2)

   localTradedAt closePrice
58    2022-05-11   2,592.27
59    2022-05-10   2,596.56

In [138]:
kosdaq.tail(2)

   localTradedAt closePrice
58    2022-05-11     866.34
59    2022-05-10     856.14

In [139]:
df["kospi"] = df["kospi"].apply(lambda data : float(data.replace(",","")))
df["kosdaq"] = df["kosdaq"].apply(lambda data : float(data.replace(",","")))
df["usd"] = df["usd"].apply(lambda data : float(data.replace(",","")))

AttributeError: 'float' object has no attribute 'replace'

In [140]:
# 컬럼의 데이터 타입 변경 : str > float
# df[column].apply() : 모든 데이터를 함수에 대입한 결과를 출력
df.dtypes

localTradedAt     object
kospi            float64
kosdaq           float64
usd              float64
dtype: object

In [141]:
df[['kospi','kosdaq','usd']].corr()

           kospi    kosdaq       usd
kospi   1.000000  0.984027 -0.878743
kosdaq  0.984027  1.000000 -0.821713
usd    -0.878743 -0.821713  1.000000

In [ ]:
# kospi - kosdaq : 0.984 : 1과 가까우면 강한 양의 상관관계
# kospi - usd : -0.878 : -1과 가까우면 강한 음의 상관관계

In [ ]:
# copy(), apply, lambda

In [ ]:
# copy()

In [116]:
data1 = [1,2,3]

data2 = data1         # 얕은복사(call by reference) : 주소값 복사
data3 = data1.copy()  # 깊은복사(call by value) : 값 복사
print(data1,data2)

data1[1] = 4
print(data1, data2, data3)

[1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3] [1, 2, 3]

In [ ]:
# apply(func) : 모든 데이터를 func을 적용시킨 결과 출력

In [117]:
df = pd.DataFrame([{'age': 23},{'age': 36},{'age': 27}])
df

   age
0   23
1   36
2   27

In [118]:
# 연령대 컬럼을 추가
def change_ages(age):
    return age // 10*10

In [121]:
df["age"]

0    23
1    36
2    27
Name: age, dtype: int64

In [124]:
df["ages"]=df["age"].apply(change_ages)

In [125]:
df

   age  ages
0   23    20
1   36    30
2   27    20

In [ ]:
# lambda :일회성 함수
# 사용이유 : 간단한 함수(파라미터를 받아서 바로 리턴하는)를 메모리를 절약하여 사용

In [130]:
# 함수 3개 사용, 메모리 3칸 사용
def plus(n1,n2):
    return n1 + n2

def minus(n1,n2):
    return n1 - n2

def calc(func, n1, n2):
    return func(n1, n2)

In [129]:
calc(plus, 1, 2), calc(minus, 1, 2)

(3, -1)

In [132]:
plus_lambda = lambda n1, n2: n1 + n2
plus(2,3), plus_lambda(2,3)

(5, 5)

In [134]:
# 함수 1개 사용, 메모리 1칸 사용
def calc(func, n1, n2):
    return func(n1, n2)

calc(lambda n1, n2: n1 + n2, 1, 2),calc(lambda n1, n2: n1 - n2, 1, 2)

(3, -1)

In [ ]:
# summary
# 웹페이지의 종류
# - 정적페이지 : 데이터가 변경될때 URL 변경 O : HTML
# - 동적페이지 : 데이터가 변경될때 URL 변경 X : JSON

# 웹크롤링 절차
# 1. 웹서비스 분석 : 크롬 개발자 도구 : URL
# 2. requests(url) > response(json) *html시 html  : JSON(str)
# 3. JSON(str) > list, dict > DataFrame

In [ ]:
# 실습 과제 
# 다음 증권에서 
# headers : referer, user-agent설정

In [181]:
def stock_price(pagesize, page):
    url = f"https://m.stock.naver.com/api/index/KOSPI/price?pageSize={pagesize}&page={page}"
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[["localTradedAt","closePrice"]]

In [182]:
url ='https://finance.daum.net/api/exchanges/FRX.KRWEUR/days?perPage=10&page=2&pagination=true'

In [183]:
headers={'referer': 'https://m.finance.daum.net/', 
         'user-agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/604.1'}
response = requests.get(url, headers = headers)

In [191]:
data = response.json()
df= df.DataFrame(data)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [208]:
def stock_price(perpage, page):
    url = f"https://finance.daum.net/api/exchanges/FRX.KRWEUR/days?perPage={perpage}&page={page}&pagination=true"
    headers={'referer': 'https://m.finance.daum.net/', 
         'user-agent': 'Mozilla/5.0 (iPhone; CPU iPhone OS 13_2_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Mobile/15E148 Safari/604.1'}
    response = requests.get(url, headers = headers)
    datas = response.json()["data"]
    return pd.DataFrame(datas)

In [209]:
stock_price(10,2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWEUR,2022-07-21 23:19:41,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),514,1339.06,...,0.000269,1365.70,1312.42,1325.67,1352.45,None,None,1.650,1.0183,{'day': 'https://t1.daumcdn.net/finance/chart/...
1,FRX.KRWEUR,2022-07-20 23:53:07,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),421,1339.42,...,0.001037,1366.07,1312.77,1326.03,1352.81,None,None,1.655,1.0209,{'day': 'https://t1.daumcdn.net/finance/chart/...
2,FRX.KRWEUR,2022-07-19 23:36:22,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),481,1340.81,...,0.000433,1367.49,1314.13,1327.41,1354.21,None,None,1.658,1.0243,{'day': 'https://t1.daumcdn.net/finance/chart/...
3,FRX.KRWEUR,2022-07-18 23:45:07,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),633,1340.23,...,0.004911,1366.90,1313.56,1326.83,1353.63,None,None,1.658,1.0188,{'day': 'https://t1.daumcdn.net/finance/chart/...
4,FRX.KRWEUR,2022-07-15 21:49:47,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),597,1333.68,...,0.008721,1360.22,1307.14,1320.35,1347.01,None,None,1.554,1.0066,{'day': 'https://t1.daumcdn.net/finance/chart/...
5,FRX.KRWEUR,2022-07-14 23:39:57,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),488,1322.15,...,0.002715,1348.46,1295.84,1308.93,1335.37,None,None,1.575,0.9986,{'day': 'https://t1.daumcdn.net/finance/chart/...
6,FRX.KRWEUR,2022-07-13 23:53:01,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),573,1318.57,...,0.002296,1344.80,1292.34,1305.39,1331.75,None,None,1.577,1.0104,{'day': 'https://t1.daumcdn.net/finance/chart/...
7,FRX.KRWEUR,2022-07-12 23:23:56,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),402,1315.55,...,0.006172,1341.72,1289.38,1302.40,1328.70,None,None,1.548,1.0050,{'day': 'https://t1.daumcdn.net/finance/chart/...
8,FRX.KRWEUR,2022-07-11 23:39:19,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),380,1323.72,...,0.000438,1350.06,1297.38,1310.49,1336.95,None,None,1.548,1.0074,{'day': 'https://t1.daumcdn.net/finance/chart/...
9,FRX.KRWEUR,2022-07-08 23:45:35,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (KRW/EUR),558,1323.14,...,0.000204,1349.47,1296.81,1309.91,1336.37,None,None,1.510,1.0178,{'day': 'https://t1.daumcdn.net/finance/chart/...